@charset "UTF-8";

/* 전체 */
a {
	text-decoration: none;
	color: #000;
}

a:hover {
  color: inherit;
}



/* 마이페이지 서브메뉴 */

.mypage-floating-menu {
	background-color:#F5F7FF;
	padding-top: 15px;
	padding-bottom: 15px;
}

.mypage-floating-menu li {
	list-style-type: none;
}

.mypage-floating-menu li a {
	display: block;
	text-align: center;
	padding: 14px 16px;
}

.mypage-floating-menu li a:hover{
	color: #0156FF; /* 메인 컬러로 수정하기 */
}




/* 마이페이지 breadcrumb */
.breadcrumb {
	padding-top: 35px;
	padding-bottom: 35px;
}




/* 마이페이지 Q&A 목록 */
.q-filter-btn .selected { /* 카테고리 버튼 */
	border-radius: 20px;
	background-color: #0156FF; /* 메인 컬러로 수정하기 */
	color: #fff;
}

.q-status { /* 답변 상태 */
	color : #0156FF;
}



/* 마이페이지 Q&A 상세 */
.q-detail { /* 게시글 테두리 */
	border: 1px solid #bec5cd;
}
